Gemfile.lock
_site/**
.vscode/**
.jekyll-metadata
assets/images/bio-photo_800.ai
.ruby-version
CV/old-cv/*.aux
CV/old-cv/*.log
CV/old-cv/*.out
CV/old-cv/*.lfs
CV/old-cv/*.synctex.gz
CV/old-cv/*.fdb_latexmk
CV/old-cv/*.fls
CV/modules_en/*.pdf
