---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// set highlight color to aqua - override contrast skin default of red
$primary-color: #02548f !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// site-wide classes

.page__content a {
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 1em;
}

.page__content a:hover {
  text-decoration: underline;
}

//  Publications page
.publication-table .pub-title {
  font-weight: bold;
  font-size: 1em;
}

.publication-table td {
  border: none;
  border-bottom: 2px solid #ddd;
}

.publication-table thead {
  display: none;
}

.publication-table caption {
  text-align: left;
  caption-side: top;
  font-size: 2em;
}

.publication-featured {
  color: #028f6a;
}

.publication-featured a {
  color: #028f6a;
}

/* unvisited link */
a:link {
  color: #02548f;
}

/* visited link */
a:visited {
  color: #02548f;
}

/* mouse over link */
a:hover {
  color: #f99820;
}
/*#2081f9
#f99820
*/
.cite {
  font-size: 0.4em;
  font-style: italic;
  color: rgb(119, 119, 119);
}

.journal {
  font-style: bold;
  color: #027556;
}
